<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> 
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
  
</head>

<body>
  <%= yield %>

</body>
<footer class='footer'>
  <p>&copy; 2015 Randy Grewal<br>
    This website uses data from the <a href="http://developer.echonest.com/">Echo Nest</a> and <a href="http://www.oembed.com/">oEmbed</a> API. All videos courtesy of <a href="http://www.youtube.come">YouTube</a> and <a href="http://www.dailymotion.com/us">Dailymotion</a>.
  </p>
</footer>
</html>
